allow hal_power_default mpdecision:unix_stream_socket connectto;
allow hal_power_default mpctl_data_file:dir search;
allow hal_power_default mpctl_data_file:sock_file w_file_perms;
allow hal_power_default sysfs:file write;

# Touch
allow hal_power_default sysfs_touch:dir search;
allow hal_power_default sysfs_touch:file w_file_perms;
